<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('adult_data.csv')
df.head()

FileNotFoundError: [Errno 2] File adult_data.csv does not exist: 'adult_data.csv'

**1. How many men and women (*sex* feature) are represented in this dataset?** 

Male: 6509
Female: 3204

In [ ]:
sex_vals = df.sex.value_counts().to_dict()
print(sex_vals)

{'Male': 6509, 'Female': 3204}

**2. What is the average age (*age* feature) of women?**

36.87

In [ ]:
df[df.sex == 'Female'].age.mean()

36.87546816479401

**3. What is the percentage of German citizens (*native-country* feature)?**

0.44%

In [ ]:
n_germany = len(df[df['native-country'] == 'Germany']) 
n_total =  len(df['native-country'])
print((n_germany / n_total)*100,' %')

0.442705652218676  %

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
ls_mean = df[df.salary == '<=50K'].age.mean()
ls_std = df[df.salary == '<=50K'].age.std()
print('Age of people who earn less than 50K: Mean: {}  Std: {}'.format(ls_mean,ls_std))

hs_mean = df[df.salary == '>50K'].age.mean()
hs_std = df[df.salary == '>50K'].age.std()
print('Age of people who earn more than 50K: Mean: {}  Std: {}'.format(hs_mean,hs_std))

Age of people who earn less than 50K: Mean: 36.78373786407767  Std: 14.020088490824813
Age of people who earn more than 50K: Mean: 44.24984058155847  Std: 10.51902771985177

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

False

In [8]:
df[df.salary == '>50K'].education.value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [16]:
df.groupby(['race','sex']).age.describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

Among MARRIED

In [39]:
hsms = df[df.salary == '>50K']['marital-status'].value_counts()
hsms_dict = hsms.to_dict()

married = hsms_dict['Married-civ-spouse']+hsms_dict['Married-spouse-absent']+hsms_dict['Married-AF-spouse']
single =  hsms.sum()-married
print('Married: ',married)
print('Single: ',single)
print('Total: ',married+single,'  Total verif: ',hsms.sum())
print('People who are married have the greatest proportion of earning more money than single people')

Married:  6736
Single:  1105
Total:  7841   Total verif:  7841
People who is married have the greatest proportion of earning more money than single people

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [66]:
mhpw = df['hours-per-week'].max()
pw_mhpw = len(df[df['hours-per-week'] == 99])
hs_pw_mhpw = len(df[(df['hours-per-week'] == 99) & (df.salary == '>50K')])
pct_hs = round((hs_pw_mhpw / pw_mhpw )*100,2)

print('Maximum number of hours a person works per week',mhpw)
print('There are {} people working {} hours per week'.format(pw_mhpw,mhpw))
print('Percentage of high-salary people working maximum hours per week \n among total people working the max number of hours per week is: ',pct_hs,' %')

Maximum number of hours a person works per week 99
There are 85 people working 99 hours per week
Percentage of high-salary people working maximum hours per week
 among total people working the max number of hours per week is:  29.41  %

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [76]:
df.groupby(['native-country','salary'])['hours-per-week'].describe().loc[('Japan')]

        count       mean        std   min   25%   50%   75%   max
salary
<=50K    38.0  41.000000  11.902759  10.0  40.0  40.0  41.5  65.0
>50K     24.0  47.958333  16.120414  21.0  40.0  42.5  50.0  99.0