<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [138]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
import os
os.chdir("/Users/Raul/Desktop")
warnings.filterwarnings('ignore')

In [139]:
data = pd.read_csv("adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [140]:
# You code here
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [141]:
# You code here
import seaborn as sns
women = data[data['sex'] == 'Female']
women
print("Average age of women:", women["age"].mean())

Average age of women: 36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [142]:
# You code here
German = data[data['native-country'] == 'Germany']
GermanNumber = German["age"].count()
PercGerman = GermanNumber / data["age"].count()
print("% of German citizens: ", PercGerman * 100, "%")

% of German citizens:  0.42074874850281013 %

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [143]:
# You code here
Less50K = data[data['salary'] == '<=50K']
More50K = data[data['salary'] == '>50K']
MeanLess50K = Less50K['age'].mean()
StdDevLess50K = Less50K['age'].std()
MeanMore50K = More50K['age'].mean()
StdDevMore50K = More50K['age'].std()
print("Mean of age for those who earn more than 50K: ", MeanMore50K)
print("Standard Deviation of age for those who earn more than 50K: ", StdDevMore50K)
print("Mean of age for those who earn less than 50K: ", MeanLess50K)
print("Standard Deviation of age for those who earn less than 50K: ", StdDevLess50K)

Mean of age for those who earn more than 50K:  44.24984058155847
Standard Deviation of age for those who earn more than 50K:  10.51902771985177
Mean of age for those who earn less than 50K:  36.78373786407767
Standard Deviation of age for those who earn less than 50K:  14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [144]:
# You code here
print("# of people that earn more than 50K: ", More50K["age"].count())
More50KHigh = More50K[(More50K['education'] == 'HS-grad') | (More50K['education'] == 'Bachelors') |
                     (More50K['education'] == 'Prof-school') | (More50K['education'] == 'Assoc-acdm') | 
                     (More50K['education'] == 'Assoc-voc') | (More50K['education'] == 'Masters') | 
                     (More50K['education'] == 'Doctorate')]
print("# of people that earn more than 50K & Have at least High School: ", More50KHigh["age"].count())
print("Therefore, people who earn more than 50K not necessarily have at least High School Education")

# of people that earn more than 50K:  7841
# of people that earn more than 50K & Have at least High School:  6210
Therefore, people who earn more than 50K not necessarily have at least High School Education

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [145]:
# You code here
data.groupby('race').describe()

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                           fnlwgt                                         \
                     max    count           mean            std      min
race
Amer-Indian-Eskimo  82.0    311.0  120831.147910   88338.636336  12285.0
Asian-Pac-Islander  90.0   1039.0  159940.609240   85122.307505  14878.0
Black               90.0   3124.0  228013.124200  123600.677422  19752.0
Other               77.0    271.0  197124.191882   88856.775370  24562.0
White               90.0  27816.0  187298.064280  103124.944196  18827.0

                                                            education-num  \
                         25%       50%       75%        max         count
race
Amer-Indian-Eskimo   35036.5  102541.0  176142.0   445168.0         311.0
Asian-Pac-Islander   93321.0  143098.0  194456.0   506329.0        1039.0
Black               148212.0  205934.0  281693.0  1268339.0        3124.0
Other               138103.0  188793.0  240091.0   481175.0         271.0
White               116902.5  177627.0  233542.5  1484705.0       27816.0

                                                                     \
                         mean       std  min  25%   50%   75%   max
race
Amer-Indian-Eskimo   9.311897  2.310387  2.0  9.0   9.0  10.0  16.0
Asian-Pac-Islander  10.960539  2.811582  1.0  9.0  10.0  13.0  16.0
Black                9.486236  2.297893  1.0  9.0   9.0  10.0  16.0
Other                8.841328  3.226153  1.0  7.5   9.0  10.0  16.0
White               10.135246  2.570307  1.0  9.0  10.0  13.0  16.0

                   capital-gain                                                \
                          count         mean          std  min  25%  50%  75%
race
Amer-Indian-Eskimo        311.0   625.266881  2753.238961  0.0  0.0  0.0  0.0
Asian-Pac-Islander       1039.0  1478.358037  9986.156906  0.0  0.0  0.0  0.0
Black                    3124.0   609.940461  5139.653447  0.0  0.0  0.0  0.0
Other                     271.0   934.660517  8625.128995  0.0  0.0  0.0  0.0
White                   27816.0  1121.660375  7504.533302  0.0  0.0  0.0  0.0

                            capital-loss                                   \
                        max        count       mean         std  min  25%
race
Amer-Indian-Eskimo  27828.0        311.0  34.176849  245.583106  0.0  0.0
Asian-Pac-Islander  99999.0       1039.0  97.222329  423.556931  0.0  0.0
Black               99999.0       3124.0  60.385083  337.394121  0.0  0.0
Other               99999.0        271.0  61.070111  322.452705  0.0  0.0
White               99999.0      27816.0  90.806155  410.833347  0.0  0.0

                                     hours-per-week                        \
                    50%  75%     max          count       mean        std
race
Amer-Indian-Eskimo  0.0  0.0  1980.0          311.0  40.048232  11.695364
Asian-Pac-Islander  0.0  0.0  2457.0         1039.0  40.127045  12.556816
Black               0.0  0.0  4356.0         3124.0  38.422855  10.315646
Other               0.0  0.0  2179.0          271.0  39.468635  11.143755
White               0.0  0.0  4356.0        27816.0  40.689100  12.544796


                    min   25%   50%   75%   max
race
Amer-Indian-Eskimo  3.0  40.0  40.0  40.0  84.0
Asian-Pac-Islander  1.0  40.0  40.0  40.0  99.0
Black               1.0  37.0  40.0  40.0  99.0
Other               5.0  36.0  40.0  40.0  98.0
White               1.0  40.0  40.0  45.0  99.0

In [146]:
data.groupby('sex').describe()

            age                                                       fnlwgt  \
          count       mean        std   min   25%   50%   75%   max    count
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0  10771.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0  21790.0

                                                                               \
                 mean            std      min        25%       50%        75%
sex
Female  185746.311206  102986.078821  12285.0  117363.00  176077.0  228331.50
Male    191771.449013  106740.702676  13769.0  118200.75  180140.0  241146.25

                  education-num                                             \
              max         count       mean       std  min  25%   50%   75%
sex
Female  1484705.0       10771.0  10.035744  2.379954  1.0  9.0  10.0  12.0
Male    1455435.0       21790.0  10.102891  2.662630  1.0  9.0  10.0  13.0

             capital-gain                                                \
         max        count         mean          std  min  25%  50%  75%
sex
Female  16.0      10771.0   568.410547  4924.262944  0.0  0.0  0.0  0.0
Male    16.0      21790.0  1329.370078  8326.312095  0.0  0.0  0.0  0.0

                capital-loss                                              \
            max        count        mean         std  min  25%  50%  75%
sex
Female  99999.0      10771.0   61.187633  340.907518  0.0  0.0  0.0  0.0
Male    99999.0      21790.0  100.213309  429.763097  0.0  0.0  0.0  0.0

               hours-per-week                                               \
           max          count       mean        std  min   25%   50%   75%
sex
Female  4356.0        10771.0  36.410361  11.811300  1.0  30.0  40.0  40.0
Male    3770.0        21790.0  42.428086  12.119755  1.0  40.0  40.0  49.0


         max
sex
Female  99.0
Male    99.0

In [147]:
AIE = data[data['race'] == 'Amer-Indian-Eskimo']
print("Maximum age of men of Amer-Indian-Eskimo race: ", AIE['age'].max())

Maximum age of men of Amer-Indian-Eskimo race:  82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [148]:
# You code here
SingleMen = data[(data['marital-status'] == 'Divorced') | (data['marital-status'] == 'Widowed') |
                (data['marital-status'] == 'Never-married') | (data['marital-status'] == 'Separated')]
SingleMen['age'].count()
MarriedMen = data[(data['marital-status'] == 'Married-AF-spouse') | (data['marital-status'] == 'Married-civ-spouse') |
                (data['marital-status'] == 'Married-spouse-absent')]
MarriedMen['age'].count()

SMenG50K = SingleMen[SingleMen['salary'] == '>50K']
MMenG50K = MarriedMen[MarriedMen['salary'] == '>50K']

print("Proportion of single men than earn more than 50K: ", 
      (SingleMen50K["age"].count()/SingleMen['age'].count())*100, "%")

Proportion of single men than earn more than 50K:  2.700653289780681 %

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [149]:
# You code here
MaxHours = data['hours-per-week'].max()
People99Hours = data[data['hours-per-week'] == 99]
People99HoursG50K = People99Hours[People99Hours['salary'] == '>50K']

print("The maximum number of hours a person works per week is: ", MaxHours)
print("The number of people who work 99 hours per week is: ", People99Hours['hours-per-week'].count())
print("The percentage of people who work 99 hours per week and earn more than 50K is: ",
      People99HoursG50K['salary'].count()/People99Hours['salary'].count()*100, '%')

The maximum number of hours a person works per week is:  99
The number of people who work 99 hours per week is:  85
The percentage of people who work 99 hours per week and earn more than 50K is:  29.411764705882355 %

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [155]:
# You code here
LittleData = data[data['salary'] == '<=50K']
LittleDataHours = LittleData[['hours-per-week', 'native-country']]
LotData = data[data['salary'] == '>50K']
LotDataHours = LotData[['hours-per-week', 'native-country']]
LittleDataHours.groupby('native-country').describe()

                           hours-per-week                                     \
                                    count       mean        std   min    25%
native-country
?                                   437.0  40.164760  12.817002   1.0  40.00
Cambodia                             12.0  41.416667   3.088346  40.0  40.00
Canada                               82.0  37.914634  13.012056   8.0  32.75
China                                55.0  37.381818  11.439844   1.0  36.00
Columbia                             57.0  38.684211   8.610952   5.0  40.00
Cuba                                 70.0  37.985714   9.960055   5.0  40.00
Dominican-Republic                   68.0  42.338235  11.121594  22.0  40.00
Ecuador                              24.0  38.041667  10.251105  22.0  30.00
El-Salvador                          97.0  36.030928   9.396867   3.0  32.00
England                              60.0  40.483333  15.177472   7.0  40.00
France                               17.0  41.058824  12.401969  15.0  40.00
Germany                              93.0  39.139785  12.121299   6.0  38.00
Greece                               21.0  41.809524  16.857103   4.0  40.00
Guatemala                            61.0  39.360656   6.570218  18.0  40.00
Haiti                                40.0  36.325000  11.943000  10.0  30.00
Holand-Netherlands                    1.0  40.000000        NaN  40.0  40.00
Honduras                             12.0  34.333333   8.626949  17.0  30.00
Hong                                 14.0  39.142857   4.294131  30.0  37.75
Hungary                              10.0  31.300000  18.595400   3.0  20.00
India                                60.0  38.233333  12.617403   8.0  35.00
Iran                                 25.0  41.440000  12.440123   6.0  40.00
Ireland                              19.0  40.947368   7.183884  25.0  38.00
Italy                                48.0  39.625000  15.090683   6.0  38.75
Jamaica                              71.0  38.239437   9.673919  10.0  35.00
Japan                                38.0  41.000000  11.902759  10.0  40.00
Laos                                 16.0  40.375000   4.112988  31.0  40.00
Mexico                              610.0  40.003279  10.377441   4.0  40.00
Nicaragua                            32.0  36.093750   8.663454  11.0  30.00
Outlying-US(Guam-USVI-etc)           14.0  41.857143  10.747859  24.0  36.25
Peru                                 29.0  35.068966  11.609513   4.0  28.00
Philippines                         137.0  38.065693  11.265646   8.0  40.00
Poland                               48.0  38.166667  12.237600   3.0  40.00
Portugal                             33.0  41.939394   9.062075  30.0  40.00
Puerto-Rico                         102.0  38.470588   9.745988   6.0  36.00
Scotland                              9.0  39.444444   9.166667  20.0  40.00
South                                64.0  40.156250  16.831771   4.0  35.00
Taiwan                               31.0  33.774194  14.270505   2.0  20.00
Thailand                             15.0  42.866667  20.413114  10.0  35.00
Trinadad&Tobago                      17.0  37.058824  12.477332  14.0  35.00
United-States                     21999.0  38.799127  12.400570   1.0  35.00
Vietnam                              62.0  37.193548  12.422664   1.0  40.00
Yugoslavia                           10.0  41.600000  11.305849  20.0  40.00


                             50%    75%   max
native-country
?                           40.0  45.00  99.0
Cambodia                    40.0  40.50  50.0
Canada                      40.0  40.00  70.0
China                       40.0  40.00  60.0
Columbia                    40.0  40.00  60.0
Cuba                        40.0  40.00  70.0
Dominican-Republic          40.0  40.00  98.0
Ecuador                     40.0  40.00  66.0
El-Salvador                 40.0  40.00  60.0
England                     40.0  45.00  99.0
France                      40.0  50.00  66.0
Germany                     40.0  45.00  70.0
Greece                      40.0  55.00  75.0
Guatemala                   40.0  40.00  60.0
Haiti                       40.0  40.00  75.0
Holand-Netherlands          40.0  40.00  40.0
Honduras                    37.5  40.00  45.0
Hong                        40.0  40.00  50.0
Hungary                     30.0  47.50  60.0
India                       40.0  40.00  84.0
Iran                        40.0  48.00  65.0
Ireland                     40.0  42.00  55.0
Italy                       40.0  40.00  80.0
Jamaica                     40.0  40.00  70.0
Japan                       40.0  41.50  65.0
Laos                        40.0  40.00  50.0
Mexico                      40.0  40.00  99.0
Nicaragua                   40.0  40.00  60.0
Outlying-US(Guam-USVI-etc)  40.0  50.25  60.0
Peru                        40.0  40.00  60.0
Philippines                 40.0  40.00  99.0
Poland                      40.0  40.00  65.0
Portugal                    40.0  40.00  84.0
Puerto-Rico                 40.0  40.00  80.0
Scotland                    40.0  40.00  55.0
South                       40.0  48.50  99.0
Taiwan                      40.0  40.00  60.0
Thailand                    40.0  52.50  80.0
Trinadad&Tobago             40.0  40.00  60.0
United-States               40.0  40.00  99.0
Vietnam                     40.0  40.00  77.0
Yugoslavia                  40.0  40.00  66.0

In [158]:
LotDataHours.groupby('native-country').describe()

                   hours-per-week                                           \
                            count       mean        std   min    25%   50%
native-country
?                           146.0  45.547945  10.202827   8.0  40.00  40.0
Cambodia                      7.0  40.000000   0.000000  40.0  40.00  40.0
Canada                       39.0  45.641026  12.066673  20.0  40.00  45.0
China                        20.0  38.900000  10.125008  10.0  38.00  40.0
Columbia                      2.0  50.000000   0.000000  50.0  50.00  50.0
Cuba                         25.0  42.440000  12.453514  14.0  40.00  40.0
Dominican-Republic            2.0  47.000000   9.899495  40.0  43.50  47.0
Ecuador                       4.0  48.750000   2.500000  45.0  48.75  50.0
El-Salvador                   9.0  45.000000   7.071068  35.0  40.00  45.0
England                      30.0  44.533333  11.072592  20.0  40.00  40.0
France                       12.0  50.750000  16.360290  40.0  40.00  47.5
Germany                      44.0  44.977273  11.944618   8.0  40.00  45.0
Greece                        8.0  50.625000  11.783008  35.0  40.00  50.0
Guatemala                     3.0  36.666667   5.773503  30.0  35.00  40.0
Haiti                         4.0  42.750000   9.142392  35.0  38.75  40.0
Honduras                      1.0  60.000000        NaN  60.0  60.00  60.0
Hong                          6.0  45.000000  10.000000  40.0  40.00  40.0
Hungary                       3.0  50.000000  10.000000  40.0  45.00  50.0
India                        40.0  46.475000  10.056220  20.0  40.00  41.5
Iran                         18.0  47.500000  10.325582  30.0  40.00  45.0
Ireland                       5.0  48.000000  10.954451  40.0  40.00  40.0
Italy                        25.0  45.400000   9.495613  20.0  40.00  40.0
Jamaica                      10.0  41.100000   4.954235  35.0  38.50  40.0
Japan                        24.0  47.958333  16.120414  21.0  40.00  42.5
Laos                          2.0  40.000000   0.000000  40.0  40.00  40.0
Mexico                       33.0  46.575758  10.917390  30.0  40.00  40.0
Nicaragua                     2.0  37.500000   3.535534  35.0  36.25  37.5
Peru                          2.0  40.000000   0.000000  40.0  40.00  40.0
Philippines                  61.0  43.032787   8.445842  35.0  40.00  40.0
Poland                       12.0  39.000000   9.779385  10.0  40.00  40.0
Portugal                      4.0  41.500000   5.972158  36.0  39.00  40.0
Puerto-Rico                  12.0  39.416667  11.057357   8.0  40.00  40.0
Scotland                      3.0  46.666667  11.547005  40.0  40.00  40.0
South                        16.0  51.437500  10.942082  35.0  40.00  50.0
Taiwan                       20.0  46.800000  13.485275  27.0  40.00  40.0
Thailand                      3.0  58.333333  14.433757  50.0  50.00  50.0
Trinadad&Tobago               2.0  40.000000   0.000000  40.0  40.00  40.0
United-States              7171.0  45.505369  11.025092   1.0  40.00  40.0
Vietnam                       5.0  39.200000   1.788854  36.0  40.00  40.0
Yugoslavia                    6.0  49.500000  11.202678  40.0  40.00  46.0


                      75%   max
native-country
?                   50.00  80.0
Cambodia            40.00  40.0
Canada              51.00  72.0
China               41.25  60.0
Columbia            50.00  50.0
Cuba                50.00  60.0
Dominican-Republic  50.50  54.0
Ecuador             50.00  50.0
El-Salvador         50.00  55.0
England             50.00  85.0
France              50.00  99.0
Germany             50.00  70.0
Greece              61.25  65.0
Guatemala           40.00  40.0
Haiti               44.00  56.0
Honduras            60.00  60.0
Hong                43.75  65.0
Hungary             55.00  60.0
India               50.00  72.0
Iran                53.75  70.0
Ireland             60.00  60.0
Italy               50.00  67.0
Jamaica             40.00  50.0
Japan               50.00  99.0
Laos                40.00  40.0
Mexico              50.00  80.0
Nicaragua           38.75  40.0
Peru                40.00  40.0
Philippines         40.00  80.0
Poland              40.00  50.0
Portugal            42.50  50.0
Puerto-Rico         42.50  50.0
Scotland            50.00  60.0
South               60.00  70.0
Taiwan              55.00  84.0
Thailand            62.50  75.0
Trinadad&Tobago     40.00  40.0
United-States       50.00  99.0
Vietnam             40.00  40.0
Yugoslavia          58.00  65.0

In [166]:
Japan = data[data['native-country'] == 'Japan']
Japan.head()
LittleJapan = Japan[Japan['salary'] == '<=50K']
LittleJapanHours = LittleJapan['hours-per-week']

LotJapan = Japan[Japan['salary'] == '>50K']
LotJapanHours = LotJapan['hours-per-week']

LittleJapanHours.describe()

count    38.000000
mean     41.000000
std      11.902759
min      10.000000
25%      40.000000
50%      40.000000
75%      41.500000
max      65.000000
Name: hours-per-week, dtype: float64

In [167]:
LotJapanHours.describe()

count    24.000000
mean     47.958333
std      16.120414
min      21.000000
25%      40.000000
50%      42.500000
75%      50.000000
max      99.000000
Name: hours-per-week, dtype: float64